<div class="card card-outline-secondary">
	<div class="card-header">
		<h3 class="mb-0">Change your personal information</h3>
	</div>
	<div class="card-body">
		<div class="row" *ngIf="saveError">
			<div class="col-flex text-center">
				<p class="error">An error occurred while saving.</p>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-flex">
				<form [formGroup]="bioForm">
					<p class="h4">Bio</p>
					<input placeholder="Bio" class="form-control" formControlName="bio">
					<!-- <button type="submit" class="btn btn-success float-right mt-2 mb-2">Save Email</button> -->
				</form>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-6">
				<form [formGroup]="workPlaceForm">
					<p class="h4">Workplace</p>
					<input class="form-control" placeholder="Workplace" formControlName="workPlace">
					<!-- <button type="submit" class="btn btn-success float-right mt-2 mb-2">Save Email</button> -->
				</form>
			</div>
			<div class="col-6">
				<form [formGroup]="workPositionForm">
					<p class="h4">Work position</p>
					<input class="form-control" placeholder="Work position" formControlName="workPosition">
					<!-- <button type="submit" class="btn btn-success float-right mt-2 mb-2">Save Email</button> -->
				</form>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-flex">
				<form [formGroup]="educationForm">
					<div class="row">
						<div class="col-auto">
							<p class="h4">Education</p>
						</div>
						<div class="col-auto pt-2">
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" id="educationCheckbox" [checked]="privacyEducation"/>
								<label class="form-check-label" for="educationCheckbox">Private</label>
							</div>
						</div>
					</div>
					<div *ngFor="let control of educationForm.controls | keyvalue; index as i">
						<input class="form-control mb-2" formControlName="{{control.key}}">
					</div>
					<button class="btn btn-secondary addMore mt-2 mb-2" (click)="onAddMoreEducation()"><i
							class="bi bi-plus-lg"></i></button>
				</form>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-flex">
				<form [formGroup]="workExperienceForm">
					<div class="row">
						<div class="col-auto">
							<p class="h4">Work Experiene</p>
						</div>
						<div class="col-auto pt-2">
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" id="workExperienceCheckbox" [checked]="privacyWorkExperience"/>
								<label class="form-check-label" for="workExperienceCheckbox">Private</label>
							</div>
						</div>
					</div>
					<div *ngFor="let control of workExperienceForm.controls | keyvalue; index as i">
						<input class="form-control mb-2" formControlName="{{control.key}}">
					</div>
					<button class="btn btn-secondary addMore mt-2 mb-2" (click)="onAddMoreWorkExperience()"><i
							class="bi bi-plus-lg"></i></button>
				</form>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-flex">
				<form [formGroup]="skillsForm">
					<div class="row">
						<div class="col-auto">
							<p class="h4">Skills</p>
						</div>
						<div class="col-auto pt-2">
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" id="skillsCheckbox" [checked]="privacySkills"/>
								<label class="form-check-label" for="skillsCheckbox">Private</label>
							</div>
						</div>
					</div>
					<div *ngFor="let control of skillsForm.controls | keyvalue; index as i">
						<input class="form-control mb-2" formControlName="{{control.key}}">
					</div>
					<button class="btn btn-secondary addMore mt-2 mb-2" (click)="onAddMoreSkills()"><i
							class="bi bi-plus-lg"></i></button>
				</form>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-flex text-end">
				<button class="btn-lg btn-success mt-2" (click)="onSave()">Save</button>
			</div>
		</div>
	</div>
</div>