.sticky-bot {
  position: -webkit-sticky;
  /* for Safari */
  position: sticky;
  top: 0;
  align-self: flex-end;
  /* <-- this is the fix */
}

.article-profile-image {
  width: 69px;
  height: 69px;

}

.small-article-col {
  border: 0.1rem solid gainsboro;
  border-radius: 2px;
  margin: 1.42rem;
  padding: 0.39rem;
}

.article-title {
  padding-top: 0.24rem;
  padding-left: 0.14rem;
  font-weight: bold;
}

.article-link {
  color: black;
  text-decoration: none;
}

.article-link:hover {
  text-decoration: underline;
}



.btn-link {
	text-decoration: none;
	color: black;
}

.likes {
  margin-left: 0.26rem;
}



.article-small-link {
  text-decoration: none;
}

.category {
  border: 0.5px solid cornflowerblue;
  border-radius: 4rem;
  color: cornflowerblue;
  padding: 3px;
  background-color: aliceblue;
  margin-left: 5px;
  margin-top: 8px;
}

.article-title-small {
  padding-left: 0.14rem;
  font-size: small;
}

.color-black {
  color: red;
}

.comment-col {
  margin: 1rem;
  background-color: aliceblue;
  border: 0.06rem solid cornflowerblue;
  padding-top: 1rem;
}



.comment-name {
  color: cornflowerblue;
  font-weight: bold;
  text-decoration: none;
}

.video-frame {
  width: 50%;
  height: 10%;
}


.comment-text {
  margin-top: 0.5rem;
}

.likecount {
  padding: 0.14rem;
}

.article-time {
  font-size: small;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
