.error-hr {
	color: red;
}

.error-msg {
	color: red;
	text-align: center;
}


.register-form-div {
	border: 0.2vw solid cornflowerblue;
	border-radius: 1vw;
	padding: 1vw;
}

.register-form {
	padding-left: 0vw;
	padding-right: 0vw;
}

.register-title {
	text-align: center;
}

.register-text {
	font-weight: lighter;
	font-size: 2em;
}

.blue-color {
	color: blue;
}


.submit-div {
	text-align: center;
}


.logo-text {
	font-size: 2em;
}

.whitespace {
	padding-top: 2%;
}

.red-col {
	color: palevioletred;
}


.pass-validation-text {
	color: peru;
}


.green-color {
	color: teal;
}