.logo-img {
  width: 2.3rem;
  height: 2.3rem;
}

.cont-sticky {
  position: -webkit-sticky;
  /* for Safari */
  position: sticky;
  top: 0;
  align-self: flex-start;
  /* <-- this is the fix */
}

.navbar {
  background-color: white;
  border-left: 2.7px solid cornflowerblue;
  border-bottom: 2.7px solid cornflowerblue;
  border-right: 2.7px solid cornflowerblue;
}

.whitespace {
  padding-top: 5%;
}
