.error-hr {
	color: palevioletred;
}

.error-msg {
	color: palevioletred;
	text-align: center;
}

.reset-form-div {
	border: 0.2vw solid cornflowerblue;
	border-radius: 1vw;
	padding: 1vw;
}

.reset-form {
	padding-left: 4vw;
	padding-right: 4vw;
}

.reset-title {
	text-align: center;
}

.reset-text {
	font-weight: lighter;
	font-size: 2em;
	color: cornflowerblue;
}

.blue-color {
	color: blue;
}

.success-msg {
	color: teal;
}

.success-msg-top {
	color: teal;
}


.submit-div {
	text-align: center;
}

.form-label {
	color: gray;
}

.logo-text {
	font-size: 2em;
}

.whitespace {
	padding-top: 9%;
}

.failed-msg-top {
	color: palevioletred;
}

.failed-msg {
	color: palevioletred
}