<div class="container grid-div">
	<div class="row">
		<div class="col">
			<div class="whitespace"></div>
		</div>
	</div>
	<div class="row">
		<div class="col"></div>
		<div class="col-9">
			<div class="image-div">
				<div class="row">
					<div class="col">
						<img class="image-bg" src="/assets/forgotpass2.png" alt="form box">
					</div>
				</div>
				<div class="on-top-of-img">
					<div class="row">
						<div class="col">
							<p class="explain-text-title">Reset your password</p>
							<div class="msg-div" *ngIf="this.emailGroup.invalid">
								<div class="in-msg-div"
									*ngIf="this.emailGroup.controls.emailControl.errors?.required && !this.emailGroup.controls.emailControl.errors?.email">
									<hr class="error-hr">
									<p class="error-msg">Please type your email address</p>
								</div>
								<div class="in-msg-div"
									*ngIf="this.emailGroup.controls.emailControl.errors?.email && !this.emailGroup.controls.emailControl.errors?.required">
									<hr class="error-hr">
									<p class="error-msg">Email address is invalid</p>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<p class="explain-text-msg">Enter your email address below and we will email you a password
								reset
								link:</p>

						</div>

					</div>

					<div class="row">
						<form [formGroup]="emailGroup" (ngSubmit)="emailSubmit()">
							<div class="col">
								<div class="mb-3 email-div">
									<input type="email" class="form-control" id="forgotInputEmail"
										formControlName="emailControl">
								</div>

							</div>

							<div class="col">
								<div class="submit-div">
									<button type="submit" class="send-btn btn submit-button">Send mail</button>
								</div>
							</div>
						</form>
					</div>

					<div class="row">
						<div class="col">

						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="col">

		</div>
	</div>

	<div class="row">
		<div class="col"></div>

	</div>



</div>