.base-grid {
	min-width: 100%;
	min-height: 100%;
	background-color: white;
	margin: 0;
	padding: 0;
}

.logo-text-div {
	position:relative;
	top: 10%;
	font-weight: bolder;
	font-size: 1.5rem;
}


.fullsignin-div {
	position: absolute;
	top: 2%;
	right: 5%;

}


.fullsignin-link {
	text-decoration: none;
	color: cornflowerblue;
	font-weight: bold;
	font-size: 1rem;
	display: inline;
}

.fullsignin-div a {
	border: 2px solid white;
}

.fullsignin-text {
	display: inline;
}

.navbar-logo-link {
		text-decoration: none;
		color: aqua;
}

.logo-img-div {
	position: relative;
	top: 25%;
}

.welcome-navbar {
	background-color: black;
	width: 100%;
	height: 3rem;
}

.logo-text {
	display: inline;
}

.black-color {
	color: black;
}

.white-color {
	color: white;
}

.blue-color {
    color: blue;
}


.first-row {
	background-color: aqua;
}

.first-col {
	background-color: blueviolet;
}	

.second-col {
	background-color: white;
}


.login-image {
	width: 100%;
	display: block;
}

.login-image-form {
	position: relative;
	display: inline-block;
}

.login-welcome-form {
	position: absolute;
	top: 10%;
	left: 50%;
	bottom: 0%;
	transform: translate( -50%, -10% );
    text-align: center;
    color: blue;
	font-weight: bold;
	width: 100%;
}

.welcome-name {
	position: relative;
	top: 5%;
	font-size: 3vw;
}



.welcome-msg {
	color: black;
	font-size: 3vw;
}


.login-form {
	width: 100%;
	height: 100%;
}

.email-div {
	font-size: 1vw;
	width: 100%;
	position: absolute;
	color: black;
	bottom: 50%;
}

.password-div {
	font-size: 1vw;
	width: 100%;
	position: absolute;
	color: black;
	bottom: 30%;
}

.email-div input {
	width: 22vw;
	height: 2.5vw;
	position: relative;
	display: block;
	margin: 0 auto;
}

.password-div input {
	width: 22vw;
	height: 2.5vw;
	position: relative;
	display: block;
	margin: 0 auto;
}

.forg-pass-div  {
	font-size: 1.1vw;
	position: absolute;
	width: 100%;
	right: 20%;
	bottom: 27%;
	text-align: right;
	margin: 0 auto;
	font-weight: 400;
}

.submit-div {
	position: absolute;
	bottom: 0%;
	text-align: center;
	width: 100%;
	height: 14%;
}

.submit-div button {
	width: max-content;
	height: 100%;
	font-size: 3vw;
	color: blue;
	font-weight: bold;
}

.submit-div button:hover {
	color: aqua;
}

