<div class="container" style="min-height: 100%; min-width: 100%;">
	<div class="intro-nav">
		

	</div>




	<div class="img-login-top">
		<div class="img-login">
			<img src="assets/loginv0.png" class="img-fluid" alt="Round image with login button">
			
			<div class="img-login-welcome">
				<p class="h1 welcome-name">Cy<span class="next-color">bering</span></p>
				<p class="h1 welcome-msg">Welcomes you</p>
			</div>

			<form class="login-form">
				<div class="mb-3 email-div">
					<label for="loginInputEmail" class="form-label">Email:</label>
					<input type="email" class="form-control" id="loginInputEmail">
				</div>
				<div class="mb-3 password-div">
					<label for="loginInputPassword" class="form-label">Password:</label>
					<input type="password" class="form-control" id="loginInputPassword">
				</div>
				<a href="#" class="link-secondary forgot-password">Forgot password?</a>
				<button type="submit" class="btn login-button bg-transparent" [routerLink]="['/login']"></button>
			</form>
		</div>
	</div>





<!----



	<nav>
		<a class="button" [routerLink]="['/register']" routerLinkActive="activebutton">Register</a>
	</nav>
	<div class="title-in-image">
		<figure>
			<blockquote class="blockquote">
				<p class="h1">Cybering</p>
			</blockquote>
			<figcaption class="blockquote-footer">
				Connect, Apply, Hire <cite title="Source Title">Fast and Easy</cite>
			</figcaption>
		</figure>
	</div>

--->

</div>