.type-check {
	margin-top: 0.3rem;
	border: 0.14rem solid grey;
	padding-top: 0.7rem;
	padding-bottom: 0.5rem;
	border-radius: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.name {
	color: cornflowerblue;
}

.info {
	color: coral;
}

.timestamp {
	color: gray;
	padding-top: 0.5rem;
}

.upper-div {
	padding: 1.5rem;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 35rem;
}

.bottom-div {
	padding: 1.5rem;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 35rem;
}
