.container {
	border: 0.04rem solid cornflowerblue;
	padding: 1rem;
	border-radius: 0.14rem;
}

.corn {
	color: blue;
}
.post {
	color: black;
	background-color: white;
	border: 0.04rem solid cornflowerblue;
	padding: 1rem;
}

.media-url {
	width: 100%;
}

.failed {
	color: palevioletred;
}