<div class="container base-grid">
	<div class="container login-container">
		<div class="row">
			<div class="col">
				<div class="whitespace">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
			</div>
			<div class="col-8">
				<div class="row">
					<div class="col">
					</div>
					<div class="col-10">
						<div class="login-form-div">
							<div class="row">
								<div class="col">
									<div class="login-title">
										<p class="login-text">Log in to your <span class="blue-color">Cy</span>bering community</p>
									</div>
								</div>
							</div>
							<form class="login-form" [formGroup]="signinForm" (ngSubmit)="signinSubmit()" #signForm="ngForm">
								<div class="row g-3 align-items-center mb-3">
									<div class="col-md-5 mb-3 col-auto">
										<label for="loginInputEmail" class="form-label">Email</label>
										<input type="email" class="form-control" id="loginInputEmail" formControlName="emailControl" [(ngModel)]="signInInfo.email">
									</div>
									<div class="col-md-2 col-3">
									</div>
									<div class="col-md-5 mb-3 col-auto">
										<label for="loginInputPassword" class="form-label">Password</label>
										<input type="password" class="form-control" id="loginInputPassword" formControlName="passwordControl" [(ngModel)]="signInInfo.password">
									</div>
								</div>
								<div class="row" *ngIf="!this.signinForm.controls.emailControl.errors?.required && this.signinForm.controls.emailControl.errors?.email">
									<div class="col" *ngIf="!this.signinForm.controls.passwordControl.errors?.required">
										<hr class="error-hr">
										<p class="error-msg">Please provide a valid email address</p>
									</div>
									<div class="col" *ngIf="this.signinForm.controls.passwordControl.errors?.required">
										<hr class="error-hr">
										<p class="error-msg">Please provide a password</p>
									</div>
								</div>
								<div class="row" *ngIf="this.signInFailed()">
									<div class="col">
										<hr class="error-hr">
										<p class="error-msg">Log in failed. Please check your credentials</p>
									</div>
								</div>
								<div class="row ">
									<div class="col">
									</div>
									<div class="col">
										<div class="submit-div">
											<button type="submit" class="btn btn-primary text-nowrap">Sing in</button>
										</div>
									</div>
									<div class="col">
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="col">
					</div>
				</div>
			</div>
			<div class="col">
			</div>
		</div>
	</div>
</div>