<div class="container p-0 m-0">
	<div class="row ">
		<div class="col-8">
			<div class="card mb-3" style="max-width: 540px;">
				<div class="row g-0 d-flex justify-content-center">
					<div class="col-10">
						<img src="{{img_url}}" class="img-fluid rounded-start pt-3" alt="profile photo">
					</div>
					<div class="col-flex">
						<div class="card-body">
							<h5 class="card-title">{{ professional.firstName}} {{ professional.lastName}}</h5>

							<p class="work-position card-text m-0"></p>
							<p class="work-place card-text m-0">
								<small class="text-muted">At: </small>
							</p>
							<p class="phone card-text m-0">
								<small class="text-muted">Phone: </small>
								{{professional.phone}}
							</p>

							<div class="bio-div">
								<p class="bio card-text m-0">

								</p>
							</div>

							<div class="work-experience">

							</div>
							<div class="education">

							</div>

							<div class="skills">

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>