<div class="container p-0 m-0 ">
	<div class="row ">
		<div class="col-8">
			<div class="card mb-3" style="max-width: 540px;">
				<div class="row g-0 d-flex justify-content-center">
					<div class="col-10">
						<img src="{{img_url}}" class="img-fluid rounded-start pt-3">
					</div>
					<div class="col-flex">
						<div class="card-body">
							<hr class="m-1">
							<h5 class="card-title">{{ info.firstName}} {{ info.lastName}}</h5>
							<p class="work-position card-text m-0">
								{{info.workPosition}}
							</p>
							<p class="work-place card-text m-0">
								<small class="text-muted">At: </small>
								<span class="work-exists" *ngIf="info.workPlace != undefined ">
									{{info.workPlace}}
								</span>
								<span class="work-doesnt" *ngIf="info.workPlace === (undefined || null)">
									not-set
								</span>
							</p>
							<p class="phone card-text m-0">
								<small class="text-muted">Phone: </small>
								{{info.phone}}
							</p>
							<hr class="m-1">
							<div class="bio-div ">
								<small class="text-muted">Bio: </small>
								<p class="bio card-text m-0 text-center">
									{{ info.bio }}
								</p>
							</div>
							<hr class="m-1">
							<div class="skills " *ngIf="info.skills != undefined">
								<small class="text-muted">
									Skills:
								</small>
								<ul class="list">
									<li class="skill-list" *ngFor="let skill of info.skills; index as i;">
										{{skill}}
									</li>
								</ul>
							</div>
							<hr class="m-1" *ngIf="info.skills != undefined">
							<div class="edit">
								<a href="/cybering/personalinfo">Edit info</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>